@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&display=swap');

:root{
    --greenShade: #43d19d;
    --greenTxtShade: #30ca92;
    --blueShade:#32b1db;
    --purpleShade:#4444dd;
    --fontColor:#0202a1;
    --white: white;
}
body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-image: url("/image/wave.svg"), linear-gradient(45deg,var(--greenShade),var(--blueShade),var(--greenShade));
    background-size: cover;
}

.txt-cash {
    display: none;
}

.amt-bold {
    font-size: large;
}
h1{
    background: linear-gradient(var(--fontColor),var(--purpleShade));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1.5rem -0.7rem 0.75rem var(--purpleShade));
}

form{
    padding: 1rem;
    border:1px dashed var(--purpleShade);
    border-radius: 1rem;
    max-width: 400px;
    height: 200px;
    margin: auto;
    box-shadow: 10px 10px 15px var(--greenTxtShade);
}

input[type="number"]{
    padding: 0.5rem;
    margin: 0.5rem;
    border:1px solid var(--purpleShade);
    border-radius: 1rem;
    font-weight: bold;
    max-width: 3rem;
    background-color: var(--greenTxtShade);
    color: var(--fontColor);
    outline: none;
}

div{
    color: var(--fontColor);
    padding: 0.4rem;
    font-size: large;
}

button{
    font-size: 0.9rem;
    padding: 0.7rem;
    margin: 0 0.4rem;
    border-radius: 1rem;
    outline: none;
    color: var(--white);
    background-color: var(--purpleShade);
    cursor: pointer;
}
button:hover {
  box-shadow: 0 0.5em 0.5em -0.2em var(--greenShade);
  transform: translateY(-0.25em);
}

#cash-change{
    height: 350px;
}

@media only screen and (max-width:270px){
    form{
        height: 250px;
    }
    button{
        margin: 0.2rem 0.4rem;
    }
}

@media only screen and (max-width:240px){
    form{
        height: 300px;
    }
    button{
        margin: 0.2rem 0.4rem;
    }
}